@charset "UTF-8";


* {
	margin: 0 auto;
	box-sizing: border-box;
	font-family: Tahoma, sans-serif;
}

.menuinicial li {
	padding-left: 30px;
	padding-right: 30px;
}

.menuinicial ul {
	font-size: 20px;
	text-align: center;
	list-style: none;
	padding: 0;
}

.menuinicial ul li{
	display: inline-block;
}

.menuinicial ul li a {
	color: #CCFFFF;
	padding: 20px;
	text-decoration: none;
	display: inline-block;
	transition: background .3s;
}

.menuinicial ul li:hover {
	background-color: #336666;
}

body {
    background-image: url("../img/fundo3.png");
    background-size: 100%;
}

main {
    margin: center;
    width: 1000px;
    background-color: #ffffff28;
    color: #ffffff;
}

.comment {
	display: flex;
}

.comment input {
	width: 100%;
	height: 50px;
	padding: 0 20px;
	margin-bottom: 15px;
	border: 2px solid #326048;
}

.comment input:focus {
	border: 2px solid #469CB6;
	outline: 0;
}

.comment textarea {
	width: 100%;
	height: 150px;
	padding: 15px 20px;
	margin-bottom: 20px;
	border: 2px solid #326048;
}

.comment textarea:focus {
	border: 2px solid #469CB6;
	outline: 0;
}

.comment button {
	border: 0;
	padding: 10px 30px;
	background: #38626e;
	font-size: 20px;
	color: #ffffff;
}

.comment button:hover {
	background-color: #2e515a;
}

#video {
	border: 1px solid #ffffff;
	float: right;
	margin: 10px 20px 10px 20px;
}

.linhasBloco {
	background-color: #00000081;
	width: 960px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#indicee {
	text-align: left;
}

#indiceBiomas {
	height: 240px;
}

.indice {
	border: 1px solid #ffffff;
	background-color: #00000081;
	width: 250px;
	height: 375px;
	display: inline-block;
	margin-left: 150px;
	margin-top: 30px;
}

.indice li { /* Espaçamento entre os itens (baixo) */
	padding-bottom: 10px;
}

.indice ol li a {
	color: #CCFFFF;
}

hr {
	background-color: white;
}

h1, h2 {
    text-align: center;
    padding: 20px;
}

.h2formatado {
	padding-top: 0px;
}

p {
	text-indent: 50px;
    margin: 20px;
	text-align: justify;
}

table {
	padding: 20px;
}

.testando {
	text-align: justify;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #000000;
}

#ultimo {
	padding-bottom: 20px;
}
